div{
	/* border: 1px solid red; */
}

.cherry_title{
	/* color: #ff0033; */
}

.menu_bar{
	/* border-top: 1px solid #710013;
	border-bottom: 1px solid #710013; */
}

.hand{
	cursor: pointer;
}

.play_button{
	font-size: 2em;
	cursor:pointer;
}

.play_button_disabled{
	font-size: 2em;
	cursor:pointer;
	color: gray;
}

.main_div{
	width: 100%;
	height: calc(100% - 100px);
	overflow-y: auto;
}

.slider_line_div{
	position: fixed; 
	bottom: 101; 
	width: 100%;
	z-index: 100;
	/* border-top: 1px solid black; */
}

.slider_fill{
	width: 0%;
	background-color: red;
	font-size: 2px;
}

.player_div{
	position: fixed; 
	bottom: 0; 
	width: 100%;
	display: flex;
	z-index: 100;
	border-top: 1px solid black;
}

.player_video_div{
	/* display: inline-block; */
	width: 100px;
	height: 100px;
}

.player_info_div{
	/* display: inline-block; */
	width: calc(100% - 205px);
	padding: 5px;
	/* width: 100%; */
}

.controller_div{
	/* display: inline-block; */
	/* position: fixed;
	right: 0; */
	width: 105px;
	padding-top: 5px;
	padding-right: 5px;
}

.slider_div{
	height: 40px;
}

.slider{
	width: 100%;
}

.player_music_list{
	position: fixed;
	bottom: 100; 
	width: 100%;
	height: 60%;
	z-index: 99;
	background-color: azure;
}

#id_div_music_list{
	overflow-y: auto;
	height: 100%;
}

.label_artist{
	font-size: 0.8em;
}