<html>
<head>
	<%- include('../common_resources.ejs') %>
	<script src="/js/util.js"></script>

	<!-- 순서 주위 -->
	<script type="text/javascript" src="/js/const/country_code.js"></script>
	<script type="text/javascript" src="/js/const/country_data.js"></script>
	<script type="text/javascript" src="/js/const/top_100_source.js"></script>
	<script type="text/javascript" src="/js/lang.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<!-- 순서 주위 -->
	<link rel="stylesheet" type="text/css" href="/css/cms_style.css">
	<link rel="stylesheet" type="text/css" href="/css/slider.css">

</head>
<body style="width: 100%; height: 100%;">
	<div id="id_div_main" style="height: 100%; width:100%; overflow: hidden;">
		<div class="border" style="height: 30px;">
			<div>
				<%- include('menu.ejs') %>
			</div>
		</div>

		<div class="border d-flex" style="height: 70px;">
			<div class="col-2 my-auto">
				<h5>Top Rank</h5>
			</div>
			<div class="col-2 my-auto">
				<div><h5 id="id_label_rank_title">Choose Rank</h5></div>
			</div>
			<div class="col-2 my-auto">
				<button type="button" class="border btn btn-sm" id="id_btn_cms_top_rank_filter_total" onclick="window._top_rank_control.OnClick_ChangeFilter(FILTER_TYPE.TOTAL)">Total</button>:<span id="id_label_total"></span>
				<button type="button" class="border btn btn-sm" id="id_btn_cms_top_rank_filter_ok" onclick="window._top_rank_control.OnClick_ChangeFilter(FILTER_TYPE.OK)">OK</button>:<span id="id_label_ok"></span>
				<button type="button" class="border btn btn-sm" id="id_btn_cms_top_rank_filter_ng" onclick="window._top_rank_control.OnClick_ChangeFilter(FILTER_TYPE.NG)">NG</button>:<span id="id_label_ng"></span>
			</div>
			<div class="col-6 my-auto text-right">
				<input type="text" id="id_text_for_copy_text" size="1">
				<button type="button" class="btn btn-sm btn-primary" onclick="window._top_rank_control.ArrangeWindow()">ㅁ</button>
				<button type="button" class="btn btn-sm btn-primary" onclick="window._top_rank_control.Auto()">Auto</button>
				<button type="button" class="btn btn-sm btn-primary" onclick="window._top_rank_control.Save()" id="id_btn_save">Save</button>
				<button type="button" class="btn btn-sm btn-primary" onclick="window._top_rank_control.Release()">Release</button>
			</div>
		</div>

		<div class="d-flex" style="height: calc(100% - 100px); overflow: hidden;">
			<!-- LEFT -->
			<div class="border d-flex" style="width:60%; height: 100%;">
				<!-- 국가 리스트 -->
				<div class="col-3 border px-0">
					<div class="d-flex" style="margin-bottom: 3px;">
						<button type="button" id="id_btn_release_type_draft" onclick="window._top_rank_control.ToggleReleaseType()" class="btn btn-sm btn-primary">Draft</button>
						<button type="button" id="id_btn_release_type_release" onclick="window._top_rank_control.ToggleReleaseType()" class="btn btn-sm btn-outline-primary">Release</button>
					</div>
					<div class="px-0" id="id_div_top_rank_country_list">
						asdf
					</div>
				</div>

				<!-- Top 100 리스트 -->
				<div class="col-9 px-0 d-flex" style="height: 100%;">
					<div class="container-fluid" id="id_div_music_list" style="height:100%; overflow: auto;"></div>
				</div>
			</div>

			<!-- RIGHT -->
			<div class="border" style="width:40%; height: 100%;">
				<!-- PLAYER TEST -->
				<div id="id_div_play_test" class="d-flex" style="width: 100%; height: 100px;">
					<div id="player" class="border" style="width: 90; height: 90;"></div>
					<div>
						<i id="id_btn_play_pause" class="fas fa-play play_button_disabled" style="margin-left: 1px; margin-right: 1px; font-size: 2em;"></i>
					</div>
					<div class="border" style="width: 100%;">
						<div class="border" style="width: 100%; height: 40px; padding-top: 5px;">
							<div class="slider_filler border" id=""></div>
							<input class="border slider" type="range" min="0" max="10000" value="0" id="id_slider_range">
						</div>
						<div style="width: 100%;">
							<i class="fas fa-volume-up"></i>
							<input type="range" min="0" max="100" value="50" class="" id="id_slider_volume">
						</div>
						<div id="id_div_duration"></div>
					</div>
				</div>					

				<!-- ARTIST SEARCH / MUSIC SEARCH -->
				<div class="border" style="height: 200px; overflow: auto">
					<div class="d-flex">
						<div class="col-4">
							<ul class="nav nav-tabs small" style="font-size: 0.5em;">
								<li class="nav-item">
									<a class="nav-link active" style="cursor: pointer;" id="id_nav_cms_top_rank_artist" onClick="window._top_rank_control.OnClick_NavTab('artist')">Artist</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" style="cursor: pointer;" id="id_nav_cms_top_rank_music" onClick="window._top_rank_control.OnClick_NavTab('music')">Music</a>
								</li>
							</ul>	
						</div>
						<div class="col-5">
							<input class="small my-auto" style="width: 100%;" type="text" id="id_input_cms_top_rank_artist_search">
						</div>
						<div class="col-3 text-right">
							<span class="badge badge-sm badge-primary" style="cursor: pointer;" onClick="window._top_rank_control.OnClick_AddArtist()">+Artist</span>
							<span class="badge badge-sm badge-primary" style="cursor: pointer;" onClick="window._top_rank_control.OnClick_AddVAArtist()">+VA</span>
							<span class="badge badge-sm badge-primary" style="cursor: pointer;" onClick="window._top_rank_control.OnClick_SearchArtist()">Search</span>
						</div>
					</div>
					<div id="id_div_cms_top_rank_artist_search_result"></div>
					<div id="id_div_cms_top_rank_music_search_result" style="display: none;"></div>
				</div>

				<!-- YOUTUBE SEARCH -->
				<div class="border" style="height: calc( 100% - 300px); overflow: auto; " id="id_div_youtube_search_result"></div>
			</div>
		</div>
	</div>
</body>

<div id="id_modal_cms_top_rank_music_edit" class="modal small" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Music Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div>
					Music UID : <span id="id_label_cms_top_rank_music_uid"></span>
				</div>
				<div class="d-flex">
					<div class="col-3">Title</div>
					<div class="col-9">
						<input class="w-100" id="id_input_cms_top_rank_music_title" autocomplete="off">
					</div>
				</div>
				<div class="d-flex border-top border-bottom">
					<div class="col-3">Diff Name</div>
					<div class="col-8 text-right">
						<input class="w-100" id="id_input_cms_top_rank_music_diff_name" autocomplete="off">
					</div>
					<div class="col-1">
						<span class="badge badge-sm badge-primary py-auto" style="cursor: pointer;" onClick="window._top_rank_control.OnClick_MusicDiffNameAdd()">Add</span>
					</div>
				</div>
				<div id="id_div_cms_top_rank_music_diff_name_list"></div>
		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="id_btn_cms_top_rank_music_edit_ok" onClick="window._top_rank_control.OnClick_MusicUpdate()">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="id_modal_cms_top_rank_lyrics" class="modal small" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
					<span id="id_modal_cms_top_rank_lyrics_artist"></span> -
					<span id="id_modal_cms_top_rank_lyrics_title"></span>
				</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea style="width: 100%; height: 500px;" id="id_input_cms_top_rank_lyrics"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="id_btn_cms_top_rank_lyrics_ok">OK</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="/js/youtube_iframe_player.js"></script>
<script type="text/javascript" src="/js/cherry_player.js"></script>
<script type="text/javascript" src="/js/slider_control.js"></script>
<script type="text/javascript" src="/js/youtube_search_control.js"></script>
<script type="text/javascript" src="/__cms/js/cms_top_rank_control.js"></script>
