<html>
<head>
	<%- include('../common_resources.ejs') %>
	<script src="/js/util.js"></script>

	<!-- 순서 주위 -->
	<script type="text/javascript" src="/js/const/country_code.js"></script>
	<script type="text/javascript" src="/js/const/country_data.js"></script>
	<script type="text/javascript" src="/js/lang.js"></script>
	<!-- 순서 주위 -->
	<link rel="stylesheet" type="text/css" href="/css/cms_style.css">

</head>
<body style="width: 100%; height: 100%;">
	<div class="container-fluid" style="height: 100%; width:100%; overflow: hidden;">
		<div class="row border" style="height: 30px;">
			<div class="col-12">
				<%- include('menu.ejs') %>
			</div>
		</div>

		<div class="row border" style="height: 70px;">
			<div class="col-3 my-auto">
				<h5>Playlist</h5>
			</div>
			<div class="col-9 text-right my-auto">
				<button type="button" class="btn btn-sm btn-primary" onClick="window._playlist_control.OnClick_NewPlaylist()">New Playlist</button>
				<button type="button" class="btn btn-sm border" onClick="window._playlist_control.GetPlaylistList()">
					<i class="fas fa-sync-alt"></i>
				</button>
			</div>
		</div>

		<div class="row border" style="height: calc(100% - 100px); overflow: hidden;">
			<!-- LIST OF PLAYLIST -->
			<div class="col-3 border" style="height: 100%; overflow: auto; padding: 0px;">
				<div class="d-flex">
					<div class="w-50">
					</div>
					<div class="w-50 text-right">
					</div>	
				</div>
				<div id="id_div_playlist_list"></div>
			</div>

			<!-- MUSIC LIST OF PLAYLIST -->
			<div class="col-4 border" style="height: 100%; overflow: auto; padding: 0px">
				<div class="small d-flex py-2 border">
					<div class="col-7">
						Playlist : <span id="id_label_cms_playlist_title"></span>
					</div>
					<div class="col-2" id="id_label_cms_playlist_uid"></div>
					<div class="col-3 text-right">
						<button type="button" class="btn btn-sm btn-primary small" 
							onClick="window._playlist_control.OnClick_BulkOpen()">Bulk
						</button>
						<button id="id_btn_cms_playlist_save" type="button" class="btn btn-sm btn-primary small" 
							onClick="window._playlist_control.OnClick_SaveMusicList()">Save
						</button>
					</div>
				</div>
				<div class="small d-flex border">
					<div class="col-5">
						<input class="form-control small" type="text" id="id_input_cms_playlist_artist" placeholder="Artist">
					</div>
					<div class="col-5">
						<input class="form-control small" type="text" id="id_input_cms_playlist_title" placeholder="Title">
					</div>
					<div class="col-2">
						<button type="button" class="btn btn-sm border my-auto" onClick="window._playlist_control.OnClick_UpdateSelectedMusic()">Update</button>
					</div>
				</div>
				<div id="id_div_playlist_music_list"></div>
			</div>

			<!-- SEARCH AREA -->
			<div class="col-5 border" style="height: 100%; overflow: auto; padding: 0px" id="id_div_elvis">
			</div>
		</div>
	</div>
</body>

<div id="id_modal_playlist_edit" class="modal small" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="py-1">
					Edit Mode : <span id="id_leable_playlist_edit_mode"></span>
				</div>
				<div class="py-1">
					Playlist ID : <span id="id_label_playlist_uid"></span>
				</div>
				<div class="py-1">
					Country Code : <span id="id_label_playlist_country_code"></span>
				</div>
				<div class="py-1">
					User ID : <span id="id_label_playlist_user_id"></span>
				</div>
				<div class="py-1">
					Title : <input type="text" class="form-control" id="id_input_playlist_title">
				</div>
				<div class="py-1">
					Comment : <input type="text" class="form-control" id="id_input_playlist_comment">
				</div>
				<div class="py-1">
					Is Open : <input type="checkbox" id="id_checkbox_playlist_is_open">
				</div>
				<div class="py-1 d-flex">
					<div class="col-3">Hash</div>
					<div class="col-9 w-100">
						<input class="form-control" type="text" id="id_input_cms_playlist_hash">
					</div>
				</div>
				<div class="py-1" id="id_div_cms_playlist_hash_list"></div>
				<div class="py-1">
					Time Created : <span id="id_label_time_created"></span>
				</div>
				<div class="py-1">
					Time Updated : <span id="id_label_time_updated"></span>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onClick="window._playlist_control.OnClick_SavePlaylist()">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="id_modal_playlist_bulk" class="modal small" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Input Playlist Bulk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<textarea id="id_text_bulk" class="form-control small" style="height: 400px;"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" onClick="window._playlist_control.OnClick_SaveBulk('t_a')">Title - Artist</button>
        <button type="button" class="btn btn-sm btn-primary" onClick="window._playlist_control.OnClick_SaveBulk('a_t')">Artist - Title</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/youtube_iframe_player.js"></script>
<script type="text/javascript" src="/js/cherry_player.js"></script>
<script type="text/javascript" src="/js/slider_control.js"></script>
<script type="text/javascript" src="/js/youtube_search_control.js"></script>
<script type="text/javascript" src="/__cms/js/elvis.js"></script>
<script type="text/javascript" src="/__cms/js/cms_playlist_control.js"></script>