<div style="border-bottom: 1px solid #aaaaaa;">

	<a href="/__cms">[main]</a>
	<a href="/__cms/artist.vu">[artist]</a>
	<a href="/__cms/top_rank.vu">[top rank]</a>
	<a href="/__cms/music.vu">[music]</a>

</div>
