<div class="d-flex">
	<div class="col-5">
		<a href="/__cms">[main]</a>
		<a href="/__cms/artist.vu">[artist]</a>
		<a href="/__cms/top_rank.vu">[top rank]</a>
		<a href="/__cms/music.vu">[music]</a>
		<a href="/__cms/radio.vu">[radio]</a>
		<a href="/__cms/playlist.vu">[playlist]</a>
		<a href="/__cms/user.vu">[User]</a>
	</div>
	<div class="col-4 text-right d-flex">
		<div style="margin-right: 5px;">DJ</div>
		<div>
			<select class="form-control small" id="id_select_menu_dj_list" style="font-size: 0.8em;"></select>
		</div>
		<div class="ml-1">
			<span class="badge badge-sm" style="cursor: pointer;" id="id_btn_cms_dj_selector_fixed">Fixed</span>
			<span class="badge badge-sm" style="cursor: pointer;" id="id_btn_cms_dj_selector_random">Random</span>
			<span class="badge badge-sm border" style="cursor: pointer;" id="id_btn_cms_dj_selector_refresh">
				<i class="fas fa-sync-alt"></i>
			</span>
		</div>
	</div>
	<div class="col-3 text-right small">
		<%- include('../include/google_auth_html_cms.ejs') %>
		<%- include('../include/google_auth_js.ejs') %>
	</div>
</div>
<script type="text/javascript" src="/__cms/js/dj_selector.js"></script>

