<div class="d-flex">
	<div class="col-5">
		<a href="/__cms">[Main]</a>
		<a href="/__cms/artist.vu">[Artist]</a>
		<a href="/__cms/top_rank.vu">[Top Rank]</a>
		<a href="/__cms/music.vu">[Music]</a>
		<a href="/__cms/radio.vu">[Radio]</a>
		<a href="/__cms/playlist.vu">[Playlist]</a>
		<a href="/__cms/user.vu">[User]</a>
		<a href="/__cms/era.vu">[Era]</a>
	</div>
	<div class="col-4 text-right d-flex">
		<div>
			<img id="id_img_playlist_country" data-toggle="modal" data-target="#modal_choose_country" style="width: 30px; border: solid 0.5px #bbbbbb; cursor: pointer;">
		</div>
		<div style="margin-right: 5px;">DJ</div>
		<div>
			<select class="form-control small" id="id_select_menu_dj_list" style="font-size: 0.8em;"></select>
		</div>
		<div class="ml-1">
			<span class="badge badge-sm" style="cursor: pointer;" id="id_btn_cms_dj_selector_fixed">Fixed</span>
			<span class="badge badge-sm" style="cursor: pointer;" id="id_btn_cms_dj_selector_random">Random</span>
			<span class="badge badge-sm border" style="cursor: pointer;" id="id_btn_cms_dj_selector_refresh">
				<i class="fas fa-sync-alt"></i>
			</span>
		</div>
	</div>
	<div class="col-3 text-right small">
		<%- include('../include/google_auth_html_cms.ejs') %>
		<%- include('../include/google_auth_js.ejs') %>
	</div>
</div>

<!-- Modal Country Selector -->
<div class="modal fade" id="modal_choose_country" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="id_modal_choose_country" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="id_modal_choose_country">Country</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="id_div_country_list"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/__cms/js/dj_selector.js"></script>
<script type="text/javascript" src="/__cms/js/country_selector.js"></script>

