<html>
<head>
	<%- include('../common_resources.ejs') %>
	<script src="/js/util.js"></script>
	<script src="/__cms/js/cms_music_control.js"></script>
</head>
<body>
	<div class="container-fluid" style="height: 60%;">
		<div class="row">
			<div class="col-12">
				<%- include('menu.ejs') %>
			</div>
		</div>

		<div class="row">
			<div class="col-10">
				<h1>Music</h1>
			</div>
			<div class="col-1">
				<button type="button" id="id_btn_stop">Stop</button>
			</div>
			<div class="col-1">
				<div id="player" style="width: 50; height: 50; border: 1px solid black;"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" id="id_text_artist_name" placeholder="artist">
				</div>
			</div>
			<div class="col-5">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" id="id_text_title" placeholder="title">
				</div>
			</div>
			<div class="col-3">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" id="id_text_video_id" placeholder="video_id">
				</div>
			</div>
			<div class="col-1 input-group input-group-sm">
				<button type="button" class="btn btn-sm btn-primary" id="id_btn_add_ok">OK</button>
			</div>
		</div>

		<div class="row" id="id_div_music_list" style="padding:5px; border-top: 1px solid black">
		</div>
	</div>


	<iframe id="id_iframe_youtube" style="height: 40%; width: 100%; border-top: 1px solid black;">

	</iframe>
</body>
</html>
<script type="text/javascript" src="/js/youtube_iframe_player.js"></script>
