<html>
<head>
	<%- include('../common_resources.ejs') %>
	<script src="/js/util.js"></script>
	<script src="/__cms/js/cms_music_control.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<%- include('menu.ejs') %>
			</div>	
		</div>

		<div class="row">
			<div class="col-12">
				<h1>Music</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" id="id_text_artist_name" placeholder="artist">
				</div>
			</div>
			<div class="col-5">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" id="id_text_title" placeholder="title">
				</div>
			</div>
			<div class="col-3">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" id="id_text_video_id" placeholder="video_id">
				</div>
			</div>
			<div class="col-1 input-group input-group-sm">
				<button type="button" class="btn btn-sm btn-primary" id="id_btn_add_ok">OK</button>
			</div>
		</div>

		<div class="row" id="id_div_music_list" style="padding:5px">
		</div>
	</div>
</body>
</html>
