<html>
<head>
	<%- include('../common_resources.ejs') %>
	<script src="/js/util.js"></script>
	<script type="text/javascript" src="/js/top_rank_const.js"></script>
</head>
<body>
	<div id="id_div_main" class="container-fluid" style="height: 60%; overflow: hidden;">
		<div class="row" style="height: 25px;">
			<div class="col-12">
				<%- include('menu.ejs') %>
			</div>	
		</div>

		<div class="row" style="height: 60px;">
			<div class="col-3">
				<h1>Top Rank</h1>
			</div>
			<div class="col-4 my-auto">
				<div><h5 id="id_label_rank_title">Choose Rank</h5></div>
			</div>
			<div class="col-2 my-auto">
				Total:<span id="id_label_total"></span> / OK:<span id="id_label_ok"></span>
			</div>
			<div class="col-3 my-auto text-right">
				<button type="button" class="btn btn-sm btn-primary" onclick="ArrangeWindow()">ㅁ</button>
				<button type="button" class="btn btn-sm btn-primary" onclick="Auto()">Auto</button>
				<button type="button" class="btn btn-sm btn-primary" onclick="Save()" id="id_btn_save">Save</button>
				<button type="button" class="btn btn-sm btn-primary" onclick="Release()">Release</button>
			</div>
		</div>

		<div class="row" style="height: calc(100% - 85px); overflow: hidden;">

			<!-- 왼쪽 -->
			<div class="col-3">
				<div class="d-flex" style="margin-bottom: 3px;">
					<button type="button" id="id_btn_release_type_draft" onclick="ToggleReleaseType()" class="btn btn-sm btn-primary">Draft</button>
					<button type="button" id="id_btn_release_type_release" onclick="ToggleReleaseType()" class="btn btn-sm btn-outline-primary">Release</button>
				</div>
				<div style="border-top: 1px solid black;" id="id_div_country_list"></div>
			</div>

			<!-- 오른쪽 -->
			<div class="col-9 d-flex" style="height: 100%; overflow: auto;">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="container-fluid" id="id_div_music_list"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 아래 -->
	<div style="overflow: auto; height: 40%; width: 100%; border-top: 1px solid black;" id="id_div_bottom">
	</div>
	<iframe id="id_iframe_youtube" style="display:none; height: 40%; width: 100%; border-top: 1px solid black;">
	</iframe>
</body>

<script type="text/javascript" src="/__cms/js/cms_top_rank_control.js"></script>
