<html>
<head>
	<%- include('../common_resources.ejs') %>
	<script src="/js/util.js"></script>

	<!-- 순서 주위 -->
	<script type="text/javascript" src="/js/const/country_code.js"></script>
	<script type="text/javascript" src="/js/const/country_data.js"></script>
	<script type="text/javascript" src="/js/lang.js"></script>
	<!-- 순서 주위 -->
</head>
<body style="width: 100%; height: 100%;">
	<div class="container-fluid" style="height: 100%; width:100%; overflow: hidden;">
		<div class="row border" style="height: 30px;">
			<div class="col-12">
				<%- include('menu.ejs') %>
			</div>
		</div>

		<div class="row border" style="height: 70px;">
			<div class="col-3 my-auto">
				<h5>User</h5>
			</div>
			<div class="col-9 my-auto text-right">
			</div>
		</div>

		<div class="row border" style="">
			<div class="col-12" id="id_div_cms_user_list">
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="/__cms/js/cms_user_control.js"></script>