<div class="container">
	<div class="row">
		<div class="col-7 col-sm-9">
			<span id="id_label_artist-ARTIST_EJS" style="font-size: 1.5em; font-weight: bold;"></span>
		</div>
		<div class="col-5 col-sm-3 text-right py-1">
			<button class="btn btn-sm btn-light" id="id_btn_artist_like">
				<i id="id_icon_artist_like" style="color: #bbbbbb; font-size: 1.4em;" class="fas fa-heart"></i>
			</button>
			<button type="button" class="btn btn-sm btn-primary" id="id_btn_artist_listen_all">
				<span>All</span>
				<i style="margin-left:3px" class="fas fa-play"></i>
			</button>	
		</div>
	</div>
	<div class="row" style="margin-top: 5px;">
		<div class="col-12">
			<ul class="nav nav-tabs small mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="pills-music-tab" data-toggle="pill" href="#pills-music" role="tab" aria-controls="pills-music" aria-selected="true">Music</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="pills-add-music-tab" data-toggle="pill" href="#pills-add-music" role="tab" aria-controls="pills-add-music" aria-selected="false">Add Music</a>
				</li>
			</ul>			
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="tab-content" id="pills-tabContent">

				<!-- Music List -->
				<div class="tab-pane fade show active" id="pills-music" role="tabpanel" aria-labelledby="pills-music-tab">
					<div class="container-fluid" id="id_div_artist_music_list">
						<!-- Music List Display Area -->
					</div>
				</div>

				<!-- Add Music -->
				<div class="tab-pane fade" id="pills-add-music" role="tabpanel" aria-labelledby="pills-add-music-tab">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="button-addon4" id="id_input_artist_youtube_keyword">
									<div class="input-group-append" id="button-addon4">
										<button class="btn btn-sm btn-outline-secondary " type="button" id="id_btn_artist_youtube_search">Youtube</button>
										<button class="btn btn-sm btn-outline-secondary " type="button" id="id_btn_artist_add_music">Add</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid" id="id_div_artist_youtube_search_list">
						<!-- Youtube Search List -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/artist_control.js"></script>
<script>
$('document').ready(function(){
	window._artist_control = new ArtistControl().Init('<%=artist_name%>', '<%=artist_id%>');
});
</script>