<html>
<head>
	<title>Cherry Music</title>

	<%- include('google_analytics.ejs') %>

	<meta name="description" content="New way to listen to Youtube music">
	<meta name="keywords" content="Youtube, Music, No Ads, no advertisement, playlist, top100, top 100, no ads top 100, youtube music, youtube playlist">
	<meta property="og:title" content="Cherry Music" />
	<meta property="og:description" content="New way to listen to Youtube music">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<%- include('common_resources.ejs') %>
</head>
<body>
	<div class="main_div">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="cherry_title">Cherry Music</h1>
				</div>
			</div>
			<div class="row menu_bar">
				<div class="col-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link hand" id="nav_GLO" onClick="window._router.Go('/top_rank.go?c=GLO')">
								Global
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hand" id="nav_USA" onClick="window._router.Go('/top_rank.go?c=USA')">
								USA
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hand" id="nav_GBR" onClick="window._router.Go('/top_rank.go?c=GBR')">
								UK
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hand" id="nav_KOR" onClick="window._router.Go('/top_rank.go?c=KOR')">
								Korea
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hand" id="nav_DEU" onClick="window._router.Go('/top_rank.go?c=DEU')">
								Germany
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hand" id="nav_FRA" onClick="window._router.Go('/top_rank.go?c=FRA')">
								France
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link hand" id="nav_AUS" onClick="window._router.Go('/top_rank.go?c=AUS')">
								Australia
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="id_router-top_rank"></div>
	</div>

	<!-- toast -->
	<div class="cherry_toast">
		<div id="id_cherry_toast_text" style="width:auto;	background-color: white;	border: 1px solid gray;		border-radius: 1em;	"></div>
	</div>
	
	<!-- PLAYER -->
	<div class="slider_line_div">
		<div class="slider_fill" id="id_slider_fill">&nbsp</div>
	</div>
	<div class="player_div">
		<div class="player_video_div">
			<div id="player" style="width: 100; height: 100; border: 1px solid black;"></div>
		</div>
		<div class="player_info_div">
			<div id="id_label_title">Title</div>
			<div id="id_label_artist" class="label_artist">Artist</div>
		</div>	
		<div class="controller_div text-right">
			<div>
				<i id="id_btn_prev"       class="fas fa-step-backward play_button_disabled"></i>
				<i id="id_btn_play_pause" class="fas fa-play          play_button_disabled" style="margin-left: 1px; margin-right: 1px"></i>
				<i id="id_btn_next"       class="fas fa-step-forward  play_button_disabled"></i>
			</div>
			<div style="padding-top: 4px;">
				<button type="button" class="btn btn-sm btn-dark" id="id_btn_seq_type">
					<i id="id_icon_seq_type" class="fas fa-sort-numeric-down"></i>
				</button>
				<button type="button" class="btn btn-sm btn-dark" id="id_btn_repeat_type">
					<i id="id_icon_repeat_type" class="fas fa-reply-all"></i>
				</button>
			</div>
			<div style="padding-top: 4px;">
				<button type="button" class="btn btn-sm btn-dark" id="id_btn_volume">
					<i class="fas fa-volume-up"></i>
				</button>
				<button type="button" class="btn btn-sm btn-dark" id="id_btn_playlist_show_hide">
					<i class="fas fa-list"></i>
				</button>
			</div>
		</div>
	</div>

	<!-- PLAYER MUSIC LIST -->
	<div class="player_music_list" id="id_player_music_list_div">
		<div class="container" style="height: 100%;">
			<div class="row" style="border-bottom: 1px solid gray; height: 40px;">
				<div class="col-3"></div>
				<div class="col-6 text-center"><h4>Play List</h4></div>
				<div class="col-3 pt-2">
					<button type="button" class="btn btn-light" id="id_btn_playlist_hide" style="width: 100%; ">
						<i class="fas fa-chevron-down"></i>
					</button>
				</div>
			</div>
			<div class="container-fluid" id="id_div_cherry_player_music_list" style="height: calc(100% - 40px); overflow-y: auto;">
			</div>
		</div>
	</div>

	<!-- Volume Control -->
	<div class="player_volume_div" style="background-color: white; height: 30px; padding-top: 5px; border: solid 1px black;">
		<div style="width: 100%; padding-left: 50px; padding-right: 50px;">
			<input type="range" min="0" max="100" value="50" class="slider" id="id_slider_volume">
		</div>
	</div>


</body>
</html>

<script type="text/javascript" src="/js/top_rank_const.js"></script>

	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/youtube_iframe_player.js"></script>
	<script type="text/javascript" src="/js/control.js"></script>
	<script type="text/javascript" src="/js/router.js"></script>
	<script type="text/javascript" src="/js/cherry_player.js"></script>