<div class="container">
	<div class="row">
		<div class="col-12 text-right">
			<button type="button" class="btn btn-primary" id="id_btn_listen_all_kpop">
				<span>All</span>
				<i style="font-size: 1.2em;margin-left:3px" class="fas fa-play"></i>
			</button>
			<!-- <button type="button" class="btn btn-primary" id="id_btn_listen_random_kpop">
				<span>Shuffle</span>
				<i style="font-size: 1.2em;margin-left:3px" class="fas fa-random"></i>
			</button> -->
		</div>
	</div>
</div>

<div class="container" id="id_div_kpop_list">
</div>

<script type="text/javascript" src="js/collection_control.js"></script>
<script>
$('document').ready(function(){
	window._kpop_collection_control = new CollectionControl(0).Init();
	$('#id_btn_listen_all_kpop').on('click', window._kpop_collection_control.ListenAll);
});
</script>
