<div class="container">
	<div class="row">
		<div class="col-12">
			<span style="font-size: 1.5em; font-weight: bold;">Like</span>
		</div>
	</div>
	<ul class="nav nav-tabs" style="margin-top: 5px;">
		<li class="nav-item">
			<a class="nav-link active" id="id_like_tab_artist" onClick="window._like_control.OnTabChange(LIKE_TYPE.ARTIST)">Artist</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="id_like_tab_playlist" onClick="window._like_control.OnTabChange(LIKE_TYPE.PLAYLIST)">Playlist</a>
		</li>
	</ul>
	<div class="row" style="margin-top: 5px;">
		<div class="col-12">
			<div class="container-fluid" id="id_div_like_result_artist"></div>
			<div class="container-fluid" id="id_div_like_result_playlist" style="display:none"></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/like_control.js"></script>