<div class="container">
	<div class="row">
		<div class="col-6">
			<img src="" style="width: 100px; height: 100px;" id="id_img_music">
		</div>
		<div class="col-6 text-right py-5">
			<button class="btn btn-sm btn-light" id="id_btn_music_like">
				<i id="id_icon_artist_like" style="color: #bbbbbb; font-size: 1.4em;" class="fas fa-heart"></i>
			</button>
			<button type="button" class="btn btn-sm btn-primary" id="id_btn_music_plus">
				<i style="margin-left:3px" class="fas fa-plus"></i>
			</button>	
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<span id="id_label_music_title" style="font-size: 1.2em; font-weight: bold;"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<span id="id_label_music_artist" style="font-size: 1em;"></span>
		</div>
	</div>

	<div class="border-top border-bottom text-right"><b>Lyrics</b></div>

	<div id="id_div_music_lyrics">
	</div>
</div>

<script type="text/javascript" src="/js/music_control.js"></script>
<script>
$('document').ready(function(){
	window._music_control = new MusicControl('<%=music_uid%>').Init();
});
</script>