<div class="container" id="id_div_my_playlist_detail">
	<div class="row">
		<div class="col-5">
			<h5>Playlist</h5>
		</div>
		<div class="col-7 text-right">
			<button type="button" class="btn btn-sm border" id="id_btn_my_playlist_detail_edit_mode_toggle">
				<i class="fas fa-ellipsis-h" style="font-size: 1.4em;"></i>
			</button>
			<button id="id_btn_my_playlist_detail_export" type="button" class="btn btn-sm btn-primary">
				<i class="fas fa-file-export" style="font-size: 1.4em"></i>
			</button>
			<button type="button" class="btn btn-sm btn-primary" id="id_btn_my_playlist_detail_add_music">
				+ Music
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-8" id="id_label_playlist_title"></div>
		<div class="col-4 text-right">
			<button type="button" class="btn btn-sm btn-primary" id="id_btn_playlist_detail_listen_all">
				<span>All</span>
				<i style="margin-left:3px" class="fas fa-play"></i>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-12" id="id_label_my_playlist_comment"></div>
	</div>
	<div class="row">
		<div class="col-12" id="id_label_my_playlist_hash_list"></div>
	</div>	

	<div class="row" style="margin-top:10px">
		<div class="col-12">
			<div class="container-fluid" id="id_div_playlist_music_list">
			</div>			
		</div>
	</div>
</div>

<div class="container" id="id_div_my_playlist_add_music" style="display: none;">
	<div class="row">
		<div class="col-6">
			<h5>Add Music</h5>
		</div>
		<div class="col-6 text-right">
			<i id="id_btn_my_playlist_detail_close_add" class="fas fa-times" style="font-size: 2em; cursor: pointer;"></i>
			<button type="button" class="btn btn-sm btn-primary" id="id_btn_my_playlist_detail_add_music_complete" style="display:none">
				Add
			</button>			
		</div>
	</div>
	<div class="row">
		<div class="col-10 col-sm-11 input-group-sm">
			<input id="id_input_my_playlist_detail_search_keyword" type="text" class="form-control" placeholder="Search" style="width: 100%;">
		</div>
		<div class="col-1">
			<i onclick="window._my_playlist_detail_control.Clear()" style="font-size: 1.5em;" class="fas fa-times"></i>
		</div>
	</div>
	<div class="row" style="margin-top: 5px;">
		<div class="col-12">
			<div class="container-fluid" id="id_div_my_playlist_detail_search_result">

			</div>
		</div>
	</div>
</div>

<div id="id_modal_my_playlis_detail_export" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Embed Playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea id="id_div_my_playlist_embed" class="form-control" style="width: 100%; height: 100px;"></textarea>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/my_playlist_detail_control.js"></script>
<script>
	$('document').ready(function(){
		window._my_playlist_detail_control = new MyPlaylistDetailControl('<%=playlist_name%>', '<%=playlist_uid%>').Init();
	});
</script>
