
<div class="container">
	<div class="row">
		<div class="col-8">
			<h5>My Playlist</h5>
		</div>
		<div class="col-4 text-right">
		</div>
	</div>

	<div class="row" style="margin-top:10px">
		<div class="col-12">
			<!-- FIXME -->
			<div class="container-fluid" id="id_div_playlist_list" style="padding: 0px;">
			</div>			
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/playlist_control.js"></script>
