<div class="container" id="id_div_my_playlist_detail">
	<div class="row">
		<div class="col-7 col-sm-9">
			<h5>Open Playlist</h5>
		</div>
		<div class="col-5 col-sm-3 text-right">
			<button class="btn btn-sm btn-light" id="id_btn_playlist_detail_like">
				<i id="id_icon_playlist_detail_like" style="color: #bbbbbb; font-size: 1.4em;" class="fas fa-heart"></i>
			</button>
			<button type="button" class="btn btn-sm btn-primary" id="id_btn_open_playlist_detail_listen_all">
				<span>All</span>
				<i style="margin-left:3px" class="fas fa-play"></i>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-8" id="id_label_open_playlist_title"></div>
		<div class="col-4" id="id_label_open_playlist_user_name"></div>
	</div>
	<div class="row">
		<div class="col-12" id="id_label_open_playlist_comment"></div>
	</div>

	<div class="row" style="margin-top:10px">
		<div class="col-12">
			<div class="container-fluid" id="id_div_open_playlist_music_list">
			</div>			
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/open_playlist_detail_control.js"></script>
<script>
	$('document').ready(function(){
		window._open_playlist_detail_control = new OpenPlaylistDetailControl('<%=playlist_name%>', '<%=playlist_id%>').Init();
	});
</script>
