<div class="container">
	<div class="row">
		<div class="col-12 text-right">
			<button type="button" class="btn btn-primary" id="id_btn_listen_all_billboard">
				<span>All</span>
				<i style="font-size: 1.2em;margin-left:3px" class="fas fa-play"></i>
			</button>
			<!-- <button type="button" class="btn btn-primary" id="id_btn_listen_all_billboard">
				<span>Shuffle</span>
				<i style="font-size: 1.2em;margin-left:3px" class="fas fa-random"></i>
			</button> -->
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="container-fluid" id="id_div_billboard_list">
			</div>			
		</div>
	</div>
</div>

<script type="text/javascript" src="js/collection_control.js"></script>
<script>
$('document').ready(function(){
	window._billboard_collection_control = new CollectionControl(1).Init();
	$('#id_btn_listen_all_billboard').on('click', window._billboard_collection_control.ListenAll);
});
</script>
