<h5>Billboard Top 100</h5>


<div class="text-right">
	<button type="button" class="btn btn-sm btn-primary" id="id_btn_listen_all_billboard">전체듣기</button>
</div>

<div class="container" id="id_div_billboard_list">
</div>

<script type="text/javascript" src="js/collection_control.js"></script>
<script>
$('document').ready(function(){
	window._billboard_collection_control = new CollectionControl(1).Init();
	$('#id_btn_listen_all_billboard').on('click', window._billboard_collection_control.ListenAll);
});
</script>
