<div class="container">
	<div class="row">
		<div class="col-10 col-sm-11 input-group-sm">
			<input id="id_input_search_keyword" type="text" class="form-control" placeholder="Search" style="width: 100%;">
		</div>
		<div class="col-1">
			<i onclick="window._search_control.Clear()" style="font-size: 1.5em;" class="fas fa-times"></i>
		</div>
	</div>
	<div class="row" style="margin-top: 5px;">
		<div class="col-12">
			<div class="container-fluid" id="id_div_search_result">

			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/search_control.js"></script>